/* ========== VARIABLES ========== */
/* ========== MIXINS ========== */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;700&display=swap");
/* ========== RESET ========== */
* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

/* ========== SET FONT-SIZE for REMS ========== */
html {
  font-family: "Cairo", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  margin: 0 auto;
  max-width: 114rem;
  width: 100%;
}

/* ========== TYPOGRAPHY ========== */
.title-alpha {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.5);
  background: #323648;
  color: #f0ffff;
  margin-bottom: 4rem;
  padding: 3.2rem 4rem;
  font-size: 4.4rem;
  font-weight: 300;
}

@media only screen and (max-width: 48em) {
  .title-alpha {
    margin-bottom: 0.8rem;
    padding: 1.2rem 2rem;
    font-size: 3.4rem;
  }
}

/* ======= cards container ======= */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 48em) {
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
  }
}

/* ========== each card ========== */
.card {
  display: flex;
  align-items: inherit;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  position: relative;
  background: #323648;
  color: #f0ffff;
  animation: fadein 2s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

.card:hover::before, .card:focus::before {
  opacity: 1;
}

.card__items {
  list-style: none;
  padding: 4rem;
}

.card__item {
  font-size: 1.6rem;
  padding: 1.2rem 0;
}

.card__item:first-child {
  padding-top: 0;
}

.card__item:last-child {
  padding-bottom: 0;
}

.card__item:not(:last-child) {
  border-bottom: 1px solid #464c68;
}

.card__item > span {
  display: inline-block;
}

@media only screen and (max-width: 48em) {
  .card {
    border-radius: 0;
  }
}

/* ===== cards profile image area ===== */
.card-media {
  display: flex;
  align-items: inherit;
  flex-direction: column;
  justify-content: stretch;
  background: linear-gradient(0deg, #323648 50%, #464c68 50%);
  padding-top: 4rem;
}

.card-media__image {
  display: block;
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.25), 0 0 0 1.6rem #464c68;
}

.card-media__caption {
  font-size: 3.2rem;
  align-self: center;
  margin-bottom: -0.8rem;
  margin-top: 4rem;
  color: #f0ffff;
}

/* ========= cards animation ========= */
@keyframes fadein {
  80% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
