//colors
$color-white: #fff;
$color-black: #000;
$color-dark: #3d435c;
$color-alpha: #f0ffff;
$color-beta: #464c68;
$color-gamma: #323648;
$color-default: #4169e1;
$color-success: #808000;
$color-warning: #ff4500;
$color-danger: #c92c68;

// fonts
$font-size-xs: 1.2rem;
$font-size-s: 1.6rem;
$font-size-m: 2.4rem;
$font-size-l: 3.2rem;
$font-size-xl: 4.4rem;
